{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "loose": true,
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "alias": {
        "@mocks": "./__mocks__",
        "@root": "./src",
        "@api": "./src/api",
        "@data": "./src/data",
        "@components": "./src/components",
        "@containers": "./src/containers",
        "@config": "./src/config",
        "@styles": "./src/styles",
        "@utils": "./src/utils",
        "@lang": "./lang",
        "@assets": "./src/assets",
        "@types": "./src/utils/types"
      }
    }],
    ["react-intl-auto", {
      "removePrefix": "src",
      "filebase": false
    }]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
